@import "../../../constants/ThemeConstants.scss";

$borderRadius: 0px;

.mainContainer {
  width: 100%;
  height: 100vh;
  background-color: $primaryThemeColor;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  .loginContainer {
    width: 70%;
    height: 80%;
    background-color: white;
    border-radius: $borderRadius;
    box-shadow: 0px 1px 42px 2px #00000073;
    overflow: hidden;
    .inputContainer {
      position: relative;
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
      .projectDescription {
        width: 50%;
        height: 100%;
        background-color: $primaryThemeColor;
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        right: 0;
        transition: all 0.5s ease-in-out;
        z-index: 1;
        &.left {
          left: 0;
        }
        &.right {
          left: 50%;
        }
        .descImage {
          width: 400px;
        }
      }
      .leftInputContainer,
      .rightInputContainer {
        width: 50%;
        height: 100%;
        background-color: white;
        border-radius: $borderRadius;
      }
      .leftInputContainer,
      .rightInputContainer {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        position: relative;
        .signUpContainer {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 80%;
          background-color: white;
          .titleArea {
            .titleText {
              font-weight: 800;
              text-align: center;
              font-size: 1.2rem;
              color: $primaryThemeColor;
              letter-spacing: 1px;
            }
            .titleDesc {
              padding-top: 10px;
              text-align: center;
              color: lightgray;
            }
          }
        }
        .rightInputContainer {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
  }
}

.inputArea {
  width: 100%;
  margin-top: 40px;
  font-size: 15px;
  color: $primaryThemeColor;
}

.input {
  .label {
    font-size: 18px;
    font-weight: bold;
    &.important {
      color: $primaryButtonColor;
    }
  }
  input {
    outline: none;
    border: 0;
    background-color: transparent;
    border-bottom: 1px solid $primaryThemeColor;
    width: 100%;
    padding: 10px 10px 10px 0;
    font-size: 20px;
    &.bordered {
      border: 1px solid $primaryThemeColor;
      padding: 10px;
      margin-top: 10px;
    }
  }
}
.already {
  font-size: 20px;
  span {
    color: $primaryButtonColor;
    position: relative;
    padding-left: 5px;
    cursor: pointer;
    // &::after {
    //   content: "";
    //   height: 1px;
    //   background-color: $primaryButtonColor;
    //   position: absolute;
    //   bottom: 0;
    //   left: 0;
    //   width: 50px;
    // }
  }
}
