@import "../../../constants/ThemeConstants.scss";
.surveyTemplateContainer {
  width: 100%;
  border: 1px solid lightgray;
  border-radius: 8px;
  overflow: hidden;
  .header {
    height: 60px;
    width: 100%;
    background-color: $primaryButtonColor;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    .dotArea {
      display: flex;
      flex-direction: row;
      .dot {
        width: 15px;
        height: 15px;
        background-color: white;
        border-radius: 50%;
        margin-right: 10px;
      }
    }
  }
  .fromToArea,
  .subjectArea {
    padding: 15px;
    border-bottom: 1px solid lightgrey;
    .label,
    .value {
      font-size: 20px;
    }
    .label {
    }
    .value {
      .suffix {
        color: $linkColor;
        // padding-left: 10px;
      }
    }
  }
  .bodyArea {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 100%;
    .mailLogo {
      width: 100%;
      height: 150px;
      object-fit: contain;
      // background-color: red;
    }
    .contentContainer {
      font-size: 30px;
      display: flex;
      align-items: center;
      justify-content: center;
      .text {
        width: 80%;
        .companyName {
          font-weight: bold;
          padding: 0 5px;
        }
      }
    }
  }
}
