body {
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  /* font-family: "Montserrat", sans-serif; */
  /* font-family: "Source Sans Pro", sans-serif !important; */
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
  font-family: "Roboto", sans-serif !important;
  /* font-family: "Open Sans", sans-serif; */
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #7450ad;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.logo {
  background-size: contain;
  height: 64px;
  /* width: 100%; */
  background-repeat: no-repeat;
  background-color: white;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.image {
  width: 50px;
}

.link {
  color: #f22f7e;
  cursor: pointer;
}

.ant-menu-item {
  /* height: auto !important;
  padding: 8px 0 8px 24px !important;
  font-size: 15px !important;
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  margin: 0 !important; */
}

.ant-menu.ant-menu-dark .ant-menu-item-selected,
.ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  /* background-color: #f22f7e !important; */
}

.ant-menu-item .anticon,
.ant-menu-submenu-title .anticon {
  margin-right: 20px !important;
  font-size: 22px !important;
  /* padding: 10px 0; */
}

.ant-menu-inline-collapsed > .ant-menu-item .anticon {
  /* padding: 10px 0; */
}
/* 
.ant-select-selection {
  border-width: 1px !important;
  border-radius: 0 !important;
  box-shadow: none !important;
}
.ant-select-selection:hover {
  border-color: #fa828e !important;
  border-width: 1px !important;
  border-radius: 0;
}

.ant-select-dropdown-menu-item-active {
  background-color: #fa828e !important;
  color: white !important;
} */
/* 
.ant-radio-checked .ant-radio-inner {
  border-color: #ee556a !important;
}

.ant-radio-inner::after {
  background-color: #ee556a !important;
} */

.ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  /* z-index: 1;
  color: #ee556a !important;
  background: #fff !important;
  border-color: #ee556a !important;
  -webkit-box-shadow: -1px 0 0 0 #ee556a !important;
  box-shadow: -1px 0 0 0 #ee556a !important; */
}

.ant-radio-button-wrapper:hover {
  /* color: #ee556a !important; */
}

.ant-tooltip-content {
  max-width: 500px;
  text-align: justify;
}
.ant-tooltip-inner {
  text-align: justify !important;
}

.headerClass {
  position: sticky;
  top: 0;
  /* right: 200px; */
  /* left: 0; */
  width: 100%;
  /* background: red !important; */
  z-index: 1;
  box-shadow: 8px 3px 12px -3px #00000030;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 3% !important;
}

.textEllipsis {
  /* width: 80px; */
  /* display: inline-block; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.productEllipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  white-space: nowrap;
  display: inline-block;
}

.tag {
  color: white !important;
  border-radius: 15px !important;
  padding: 3px 10px !important;
  border: none !important;
}

.Yes, .Male {
  background-color: #79c447 !important;
}

.No {
  background-color: #ff5555 !important;
}

.NA, .Female {
  background-color: #30bae7 !important;
}

.customButton {
  background-color: #f22f7e !important;
  border: none !important;
  /* outline: none; */
  border-radius: 0 !important;
}

.filterButton {
  background-color: #f22f7e !important;
  border: none !important;
  /* outline: none; */
  border-radius: 0 !important;
}
