@import "./constants/_ThemeConstants.scss";
.bandArea {
  margin-bottom: 2rem;
  display: flex;
  flex-direction: row;
  background-color: $menuColor;
  padding: 10px;

  .header {
    color: white;
    font-size: 1.5rem;
  }
}

.createModal {
  .ant-modal-content {
    border-radius: 0;
    .ant-modal-close-x {
      color: white;
    }
    .ant-modal-header {
      border-radius: 0;
      background-color: #393a3d;
      .ant-modal-title,
      .ant-modal-close-x {
        color: white;
      }
    }
  }
  .ant-btn {
    border-radius: 0;
    &:hover {
      border-color: $primaryButtonColor;
      color: $primaryButtonColor;
    }
  }
  .ant-btn-primary {
    background-color: $primaryButtonColor;
    border: 0;
    color: white !important;

    &:hover {
      background-color: $primaryButtonColor;
    }
  }
}

.uploadImage {
  width: 100px;
  cursor: pointer;
}

// .ant-pagination-item-active {
//   font-weight: 500;
//   background: #fff;
//   border-color: $primaryButtonColor !important;
//   a {
//     color: $primaryButtonColor !important;
//   }
// }

// .ant-pagination-item {
//   &:hover {
//     border-color: $primaryButtonColor !important;
//     a {
//       color: $primaryButtonColor !important;
//     }
//   }
// }

.link {
  color: $primaryButtonColor !important;
}

.custTable {
  .ant-table-fixed-left {
    border-radius: 0 !important;
    .ant-table-header {
      .ant-table-fixed {
        border-radius: 0 !important;
      }
    }
  }

  .ant-table-thead {
    tr {
      .ant-table-row-cell-break-word {
        height: 75px !important;
      }
      th {
        border-radius: 0 !important;
        background-color: $cardColorBlue !important;
        // height: 74px !important;
        span {
          color: white;
        }
      }
    }
  }
}

.summaryOfTopics {
  .ant-table-body {
    table {
      border: none !important;
    }
  }
  .ant-table-bordered {
    .ant-table-thead {
      tr {
        .ant-table-row-cell-break-word {
          // height: 75px !important;
        }
        th {
          padding: 0;
          border-radius: 0 !important;
          background-color: white !important;
          border-right: none;
          border: none none inherit none;
          // height: 74px !important;
          span {
            // color: black;
            font-size: 12px;
            font-weight: bold;
            font-family: "Open Sans";
          }
        }
        td {
          border-right: none !important;
        }
      }
    }
    .ant-table-tbody {
      table {
        border: none;
      }
      tr {
        td {
          border-right: none;
          box-sizing: border-box;
          padding: 5px;
        }
      }
    }
  }
}

.red {
  background-color: #f5222d;
}
.yellow {
  background-color: #fabb3d;
}
.green {
  background-color: #79c447;
}
.Detractor {
  color: #f5222d !important;
}
.Passive {
  color: #fabb3d !important;
}
.Promoter {
  color: #79c447 !important;
}

.labelStyle {
  font-family: "Open Sans";
  font-size: 1rem;
  font-weight: bold;
}

.flexCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

.noMar {
  margin: 0 !important;
}

.noPad {
  padding: 0 !important;
}

// .ant-input:focus {
//   border-color: #f22f7e !important;
//   box-shadow: 0 0 0 2px #f22f7e3b;
// }
// .ant-input:hover {
//   border-color: #f22f7e !important;
//   box-shadow: 0 0 0 2px #f22f7e3b;
// }

.ant-slider-tooltip {
  .ant-tooltip-content {
    width: fit-content !important;
  }
}

.loaderContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}

.card {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  padding: 25px;
}

.masonry-layout {
  column-count: 3;
  column-gap: 10px;
  width: 100% !important;
}
.masonry-layout__panel {
  // box-shadow: 0 2px 5px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  break-inside: avoid;
  padding: 5px;
  border: 1px solid rgba(0, 0, 0, 0.19);

  text-align: center;
  span {
    padding: 5px 0;
  }
}

.containerStyle {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ant-tabs-nav {
  .ant-tabs-tab-active {
    // color: $primaryButtonColor !important;
  }
}

.headerTabs {
  .ant-tabs-nav-wrap {
    &::before {
      border: none;
    }
    background-color: $menuColor;
    .ant-tabs-tab {
      color: white;
      margin: 0;
    }
    .ant-tabs-nav .ant-tabs-tab-active {
      color: white;
      font-weight: 600;
      // border-bottom: 5px solid red;
    }
    .ant-tabs-nav .ant-tabs-tab:hover {
      color: white;
    }
  }
}

.descTitleArea {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.descTitle {
  color: $menuColor;
  font-size: 1.2rem;
  font-weight: bold;
  font-family: "Poppins";
}

.desByTopic {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 20px;
}

.bubbleContainer {
  // background: red;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  svg {
    width: 100% !important;
    // background: green;
  }
}
